/* Reset y Colores */
* { margin: 0; padding: 0; box-sizing: border-box; }
:root {
    --dark: #2c3e50;
    --orange: #e67e22;
    --gray: #f4f7f6;
    --success: #27ae60;
}

body { font-family: 'Segoe UI', sans-serif; background-color: var(--gray); }

/* Card Estilo */
.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

/* Inputs Modernos */
input[type="text"], input[type="number"], input[type="password"], input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
}

input:focus { border-color: var(--orange); box-shadow: 0 0 5px rgba(230, 126, 34, 0.2); }

/* Tablas */
table { width: 100%; border-collapse: collapse; }
th { background: var(--dark); color: white; padding: 12px; text-align: left; }
td { padding: 12px; border-bottom: 1px solid #eee; }

/* Botones */
.btn-primary {
    background: var(--dark);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.btn-primary:hover { background: #34495e; }